.floatingItem, .floatingSetupMenu{
    border-radius: 8px;
}

/*-------FloatingItem--------*/

.floatingItem h3 img{
    display:none;
    height:1em;
}

.floatingItem:hover h3 img,.floatingItem:focus h3 img{
    display:inline-block;
    float:right;
}
.floatingItem{
    background: white;
    width: 10vw;
    padding: 5px;
    transition: left 0.5s ease,top 0.5s ease;
}
.synergist>.floatingItem {
    position: absolute;
}
/*------------Bottom drawer related----------*/
.bottomDrawer>.floatingItem{
    flex:0 0 10vw;
    text-align: left;
    margin: 10px;
    overflow: auto;
}

.bottomDrawer{
    display: flex;
    text-align: center;
    overflow-x: auto;
    position: absolute;
    font-size: 1em;
    bottom: calc(-20% + 1em);
    height: 20%;
    padding: 10px;
    background: lightgray;
    width: 100%;
    transition:0.3s;
}
.bottomDrawer:hover{
    bottom:0;
}
.synergist-container{
    display:flex;
    height:100%;
    flex-direction: column;
}
/*---------------------Banner----------------*/
.synergist-banner {
    flex: 0 1 auto;
    
}

.synergist-banner div.dropdown{
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    list-style: none;
}

.synergist-banner>h2>span{
    padding: 1px;
    border: 1px solid black;
}

.synergist-banner>h2>span>span{
    padding: 1px;
    border: 1px solid black;
}

.synergist-banner>h2 img{
    padding: 2px;
    margin-bottom: -0.3em;
    border: 1px solid black;
    height: 1em;
}

.synergist {
    flex: 1 1 100%;
    position: relative;
}
.backwall {
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.leftLabelContainer,.rightLabelContainer{
    font-size: 30px;
}

.leftLabelContainer:not(.phone){
    position:absolute;
    left: 0px;
    top: 50%;
}

.rightLabelContainer:not(.phone){
    position:absolute;
    right: 0px;
    top: 50%;
}

.leftLabelContainer.phone{
    position:absolute;
    left: 50%;
    bottom: 0px;
    transform:translateX(-50%);
}

.rightLabelContainer.phone{
    position:absolute;
    left: 50%;
    top: 0px;
    transform:translateX(-50%);
}
.dropdown li{
    display:block;
}
.dropdown li>*{
    width:100%;
}
/*------------Context menu----------*/
.contextMenu{
    list-style: none;
    background: white;
    box-shadow: 0px 0px 5px black;
}

.contextMenu li{
    padding:10px;
    display:block;
}

.contextMenu, .synergist{
    user-select:none;
}
/*------------Floatingsettings----------*/
.floatingSetupMenu{
    position:absolute;
    background: white;
}

.floatingSetupMenu>span{
    padding:10px;
    display:block;
}

.floatingItem.moving{
    box-shadow: 5px 5px 5px black;
    transition: none;
}

.floatingItem.selected{
    border: 3px dotted rgb(0, 110, 255);
}

.fab{
    z-index:10;
    position:absolute;
    bottom: 10vw;
    right: 10vw;
    background-color:rgb(0, 110, 255);
    width:15vw;
    height:15vw;
    border-radius:100%;
    background:rgb(0, 110, 255);
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.phone .phoneNoShow{
    display:none;
}

